#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: bold;
}

#prev {
    display:none;
    margin-right: 10px;
}

#start {
    display:none;
}