<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/index.css" />
    <title>Connexion</title>
  </head>
  <body>
    <div class="row">
      
      <div class="col-md-5 m-auto">
        <div class="mb-3">
         <center> <label class="form-label">Email</label> </center>
          <input type="email" class="form-control" id="username" placeholder="Entrer Votre Email"/>
          <div id="erreuremail" class="form-text text-danger"></div>
        </div>
        <div class="mb-3">
        <center> <label class="form-label">Mot de Passe</label> </center>
          <input type="password" class="form-control" id="password" placeholder="Enter Password "/>
          <div id="erreurmdp" class="form-text text-danger"></div>
        </div>
        <button type="submit" class="btn btn-success btn-block" id="login_btn" onclick="loginmedecin()">Connexion</button>
        <br />
        <p><a id="backkk" href="index.html" class="btn btn-danger">Retour</a></p>
      </div>
    </div>
    <script src="../js/medecinlog.js"></script>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid-19</title>
    <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="../assets/images/login.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="../assets/images/logo.png" alt="logo" class="logo">
                            </div>
                            <p class="login-card-description">LogIn Medecin</p>
                            <div class="row">
      
                              <div class="col-md-8 m-auto">
                                <div class="mb-4">
                                 <center> <label class="form-label">Email</label> </center>
                                  <input type="email" class="form-control" id="username" placeholder="Entrer Votre Email"/>
                                  <div id="erreuremail" class="form-text text-danger"></div>
                                </div>
                                <div class="mb-4">
                                <center> <label class="form-label">Mot de Passe</label> </center>
                                  <input type="password" class="form-control" id="password" placeholder="Enter Password "/>
                                  <div id="erreurmdp" class="form-text text-danger"></div>
                                </div>
                                <button type="submit" class="btn btn-success btn-block" id="login_btn" onclick="loginmedecin()">Connexion</button>
                                <br />
                                <p><a id="backkk" href="index.html" class="btn btn-danger">Retour</a></p>
                              </div>
                            </div>
                            <script src="../js/medecinlog.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../js/medecinlog.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>
