

.latest-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 50px;
  color: rgb(240, 229, 229);
}
@media only screen and (max-width: 1032px) {
  .big_wrapper{
     flex-direction: column;
     width: 100%;
     height: 100%;
  }
  
  .stats{
      width: 100%;
  }
  
  #responsive_logout{
      width: 100%;
      float: right;
  }
}

.chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;
  margin: 0 auto;
}

.country,
.total-cases,
.recovered,
.deaths {
  height: 100px;
}

.name {
  font-size: 30px;
  color: #c84539;
  font-weight: bold;
  margin-top: 558px;
}

.change-country {
  cursor: pointer;
  margin-right: 60%;
  font-weight: bolder;
  color: #f44336;
  float: left;
  font-size: larger;
}


.total-cases .value {
  font-size: 13px;
  font-weight: bold;
  float: left;
}

.recovered .value {
  font-size: 13px;
  font-weight: bold;
}

.deaths .value {
  font-size: 13px;
  font-weight: bold;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 1,444px;
  padding: 76px;
}
.container_main {

  margin-top: 50%;
}

#backkk {

  margin-top: 80%;
}

.stats {
 
   margin: auto;
   width: 100%;
   background-color: rgb(83, 29, 29);
}

.new-value {
  font-size: 13px;
  font-weight: bold;
}

.search-country {
  position: relative;
  top: 10px;
}

.country-list {
  display: flex;
  position: absolute;
  top: 31px;
  width: 160px;
  height: 178px;
  background-color: #f8f9fa00;
  opacity: 0.9;
  overflow-y: scroll;
}

.country-list ul {
  width: 100%;
}

.country-list ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: rgb(255, 1, 1);
  font-weight: bolder;
}
html {
  font-size: 16px;
}

.hide {
  display: none;
}
