<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <title>Dashboard</title>
  </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <body>
    <button class="btn btn-primary" id="responsive_logout" type="submit">
        <a href="index.html" class="text-white">Deconnextion</a>
       </button>
    <br>
<div class="change-country">Selectionez un Pays</div>
            <div class="search-country hide">
              <div class="country-list"></div>
            </div>

            <input type="date" id="startdate" name="trip-start" value="2020-01-01" min="2020-01-01" max="2022-12-31">
            <input type="date" id="enddate" name="trip-start" value="2021-01-01" min="2020-01-01" max="2022-12-31">


    <div class="big_wrapper">
      <div class="stats">
        <div class="latest-report">
          <div class="country">
            <div class="name"></div>
            
            
          </div>
          <div class="total-cases">
            <div class="title">Total des cas</div>
            <div class="value"></div>
            <div class="new-value"></div>
          </div>
          <div class="recovered">
            <div class="title">Rétablie</div>
            <div class="value"></div>
            <div class="new-value"></div>
          </div>
          <div class="deaths">
            <div class="title">Morts</div>
            <div class="value"></div>
            <div class="new-value"></div>
          </div>
        </div>
        <div class="chart">
          <canvas id="Radarchart"></canvas>
        </div>
      </div>
     
    </div> 
    <script src="../js/pays.js"></script>
    <script src="../js/covid.js"></script>
  </body>
</html>
